<div>
	<img src = "img/banner.png" style="position:absolute; float:left; left:0px; top:0px; width:200px" alt = "Sportr - Sweat.. with strangers!" />
</div>

<div >
	<img src="img/sportsmap.png" style="position:absolute; float:left; left:5%; top:20%; height:80%;">
</div>