<% include header %>
<body>
	<div style="width:100%; height:100%;">
		<% include banner-logo %>
		<div style="position:absolute; left:450px; top:25px; font-family:tahoma;">
			<h3 class="white"> Edit Account </h3>	
			<a href="/managesports">Manage Sports</a><br>
			<a href="/changelocation">Change Location</a><br><br>
			<a href="/profile">Back to Profile</a><br>
			<a href="/">Homepage</a><br>
			<a href="/logout">Logout</a>
		</div>
	</body>
</html>