<% include header %>
<body>
	<% include navbar %>
	<div class="container" id="content">
		<h1 class="white"> Edit Account </h1>	

		<div class="row" id="newsport">
			<div class="col-sm-4">
				<div class="form-group">
					<select class="form-control">
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="skill" value="Noob" checked>Noob
					</label>
					<label class="radio-inline">
						<input type="radio" name="skill" value="Intermediate">Intermediate
					</label>
					<label class="radio-inline">
						<input type="radio" name="skill" value="Pro">Pro
					</label>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<button type="button" class="btn btn-primary form-control" id="submitsport">Add Sport</button>
				</div>
			</div>
		</div>

		<div class="row" id="editlocation">
			<div class="col-sm-6">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter Your Location" name="editlocation">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<button type="button" class="btn btn-primary form-control" id="submitlocation">Submit Location</button>
				<div class="form-group">
			</div>
		</div>
	</div>
	<% include js %>
	<script src="js/edit.js"></script>
</body>
</html>
