<% include header %>
<body>
	<div style="width:100%; height:100%;">
		<% include navbar %>
		<div style="position:absolute; left:450px; top:50px; font-family:tahoma;">
		<h1 class="white"> Edit Account </h3>	
		<!--a class="white" href="/editsports">Manage Sports</a><br-->
		
		<% console.log(user.sports) %>
		<% var items = [];
		if (user.sports) { %>
			<p>Your curent sports: </p>
			<ul>
				<%   for (var i = 0; i < user.sports.length; i++) { %>
					<li><%= user.sports[i] %></li>
				<%  } %>
				
			</ul>
		<% } else { %>You did not add any sports.<% } %></h3><br>
		<p>Add new sport:</p>
		<div id="newsport>
			New sport:<select><% var sports = getSports(); %> 
			<%= for (var i=0; i < sports.length; i++) { %> 
				<option value="<%= sports[i]%>"><%= sports[i]%></option>
			<% } %></select>
			<input type="radio" name="skill" value="Noob">Noob
			<input type="radio" name="skill" value="Intermediate">Intermediate
			<input type="radio" name="skill" value="Pro">Pro</p>
			<button style="color:black" id="submitsport" type="button">Add Sport</button>
		</div>
		<div id="editlocation">
			<input type="text" style="color:black" name="editlocation">
			<button style="color:black" id="submitlocation" type="button">Submit Location</button>
		</div>
	</div>
</body>
</html>
