<% include header %>
<body>
	<% include navbar %>
	<div class="container content">
		<h1 class="white header"> Edit Account </h1>

		<h3>My Sports:</h3><h6> (Click to Remove) </h6> 
			<div class="list-group sportlist" id="usersports">	
			</div>

		<h3>Add a New Sport:</h3>
		<div class="row" id="newsport">
			<div class="col-sm-4">
				<div class="form-group">
					<select class="form-control">
					</select>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="skill" value="Noob" checked>Noob
					</label>
					<label class="radio-inline">
						<input type="radio" name="skill" value="Intermediate">Intermediate
					</label>
					<label class="radio-inline">
						<input type="radio" name="skill" value="Pro">Pro
					</label>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<button type="button" class="btn btn-primary form-control" id="submitsport">Add Sport</button>
				</div>
			</div>
		</div>

		<h3>Edit Your Location:</h3>
		<div class="row" id="editlocation">
			<div class="col-sm-6">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter Your Location" name="editlocation">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<button type="button" class="btn btn-primary form-control" id="submitlocation">Submit Location</button>
				</div>
			</div>
		</div>
		</br>
		
		<div class="row">
			<div class="col-sm-6">
				<button type="button" class="btn btn-danger form-control" rel="popover" data-original-title="Nooo! Don't go!" id="areyousure">Delete Account</button>
			</div>
		</div>
		<!-- Alert messages are appended to the alertmessages div in edit.js, please see appendSuccessAlert function-->
		<div id="alertmessages"></div>
		
		<!-- Hidden popup content used for delete account confirmation -->
		<div id="popover_content_wrapper" style="display: none;">
			Sportr is going to miss you! 
			<br>
			All your records will be lost... 
			<br>
			Are you sure you want to break up with Sportr?
			<br>
			<br>
			<div class="row">
				<div class="col-sm-6">
					<button type="button" class="btn btn-primary form-control deleteaccount">Yes</button>
				</div>
				<div class="col-sm-6">
					<button type="button" class="btn btn-primary form-control dontdelete">No</button>
				</div>
			</div>
		</div>
		
	</div>
	<% include js %>
	<script src="/js/edit.js"></script>
</body>
</html>
