<!DOCTYPE html>
<html>
<html lang="en">
 <meta charset="utf-8">
<head>
<title>Sportr - Sweat.. with strangers!</title>
  <meta name="description" content="Sweat.. with strangers!">
  <meta name="JAVVAJS" content="SitePoint">
 <link rel="shortcut icon" href="img/sportr.ico">
<style>
body
{
	background-color:#174d6c;
	height:100%;
}

a, .white{
	color: white;
	text-decoration: none;
}
</style>
</head>