<% include header %>
<body>
	<div class="container content">
		<% if (!user) { %>
			<div id="bg">
				<img src="img/hockey_bg.jpg" alt="Sportr - Sweat.. with strangers!">
			</div>
			<div class="jumbotron">
				<p>
					<a href="/auth/facebook">
						<img src = "img/fbsignin.png" alt = "Sportr - Sweat.. with strangers!" />
					</a>
				</p>
				<p>
					Meeting people who are game has never been easier.<br>
					Build the perfect team.<br>
					Create the most epic of rivalries.<br>
					Have legendary amounts of fun.<br>
					Get in the game!
				</p>
			</div>
			<div id="cclink">
				<a href="http://www.flickr.com/photos/eaglebrook/5552324795/">Photo by Eaglebrook School</a>
				|
				<a href="http://creativecommons.org/licenses/by/2.0/">Attribution License</a>
			</div>
		<% } else { %>
			<% include navbar %>
			<p class="white">You are logged in as: <%= user.userName%> </p>
			<div class="panel">
					<img class="img-responsive" src = "img/nba-dunk.png"/>
			</div>
		<% } %>
	</div>
	<% include js %>
</body>
</html>