<% include header %>
<body>
	<div style="width:100%; height:100%;">
		<% include banner-logo %>
		<%if (!user) {%>
			<div>
				<a href="/auth/facebook">
					<img src = "img/fbsignin.png" style="position:absolute; float:left; left:200px; top:0px; width:250px;" alt = "Sportr - Sweat.. with strangers!" />
				</a>
			</div>
		<% } %>
		<div style="position:absolute; left:450px; top:25px; font-family:tahoma;">
			<%if (user) {%>
				<p class="white">You are logged in as:<%= user.userName%> </p>
				<a href="/profile">Profile</a>
			<% } %>
			<br>
			<%if (user) {%><a href="/logout">Logout</a><% } %>
		</div>
	</div>

</body>
</html>
