<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sportr Home Page</title>
</head>
	 
<body>
	<h1>Sportr</h1>
	<ul>
	<li><a href="/auth/facebook">Login</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/logout">logout</a></li>
	</ul>
   
</body>
</html>
