<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sportr</title>
</head>
<body>
	<ul>
	<li><a href="/login">Login</a></li>
	<li><a href="/profile">Profile</a></li>
	<li><a href="/logout">logout</a></li>
	
	</ul>
</body>
</html>
