<!DOCTYPE html>
<html>
<html lang="en">
 <meta charset="utf-8">
<head>
<title>Sportr - Sweat.. with strangers!</title>
  <meta name="description" content="Sweat.. with strangers!">
  <meta name="JAVVAJS" content="SitePoint">
<style>
body
{
background-color:#174d6c;
}

a:visited{
     color: inherit;
}

</style>
</head>

<body>

	<p >
		<a href="">
		<img src = "images/banner.png" style="position:absolute; float:left; left:0px; top:0px;" alt = "Sportr - Sweat.. with strangers!" />
	</p>

	<p>
		<a href="/auth/facebook">
		<img src = "images/sportsmap.png" style="position:absolute; float:right; left:50px; top:250px;" alt = "Sportr - Sweat.. with strangers!" />
	</p>
	
	<p>
		<a href="/auth/facebook">
		<img src = "images/fbsignin.png" style="position:absolute; float:right; left:1200px; top:400px;" alt = "Sportr - Sweat.. with strangers!" />
	</p>
	<p style="position:absolute; left:500px; top:50px; font-family:tahoma;">
		<a href="/profile" style="color:white; text-decoration:none">Profile</a>
		<br>
		<a href="/logout" style="color:white; text-decoration:none">Logout</a>
	</p>

</body>
</html>
