<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <div id="logo" style="position:absolute; top:0px; left:0px; padding-right:150px;" width=300px>
		<a href="/">
		<img class="img-responsive" src = "/img/banner.png" alt = "Sportr - Sweat.. with strangers!" />
		</a>
	  </div>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li><br /></li>
		<li><br /></li>
		<% for (var title in nav) { %>
			<% if(nav[title] == page) { %>
				<li class="active"><a href="<%= nav[title] %>"><%= title %></a></li>
			<% } else { %>
				<li><a href="<%= nav[title] %>"><%= title %></a></li>
			<% } %>
		<% } %>
	  </ul>
	</div>
  </div>
</div>