<% include header %>
<body>
	<% include navbar %>	
	<div class="container content">
		<h1 class="white header"> Search Results </h1>
		<div class="panel panel-primary">
			<h4>Sorry no results match your search criteria.</h4>
			<h4>Please search again!</h4>				
			<form>
				<br></br>
				<button type="button" class="btn btn-primary form-control" onClick="history.go(-1).reload(true);return true;" value="refresh">Return To Search Page</button>
				<br></br>
			</form>		
		</div>
	</div>
	<% include js %>
</body>
</html>