<html>
	<head>
	   <title>Sportr Profile</title>
	</head>
	    
	<body>
		<h1>Sportr</h1>
		<h3> <%= user.userID%> </h3>
		<h3> <%= user.userName%> </h3>

		<a href="/logout">Logout</a>
	</body>
</html>