<% include header %>
<body>
	<% include navbar %>
	
	<div class="container content">
		<h1 class="white header"> Search Results </h1>
	
		<button type="button" class="btn btn-primary form-control">Find Events</button>
		
	</div>
	
	<% include js %>	
	<script src="/js/search.js"></script>

</body>
</html>