<% include header %>
<body>
	<% include navbar %>
	
	<div class="container content">
		<h1 class="white header"> Search Results </h1>
		
		<br></br>
	
		<p>
			<h4 class="white header"> Sorry No Events Found... </h1>
		</p>
		
		<br></br>
		
		<form>
			<button type="button" class="btn btn-primary form-control" onClick="history.go(-1);return true;" >Return To Search Page</button>
		</form>
		
	</div>
	
	<% include js %>	
	<script src="/js/search.js"></script>

</body>
</html>