<% include header %>
<body>
	<% include navbar %>
	<div class="container content">
		<h1 class="white header"> Search Events</h1>
		
		<form role="form" action="/search" method="post" id="searchForm">
			<div class="form-group">
				<label for="sport">Sport:</label>
				
				<select class="form-control" id="eventSport" name="eventsport">
						
				</select>			
			</div>
				
			<button type="submit" class="btn btn-primary form-control" id="submitsportsearch">Search by Sports</button>
		
		</form>
		
	</div>
	<% include js %>
	<script src="js/search.js"></script>
</body>
</html>
