<% include header %>
<body>
	<% include navbar %>
	<div class="container content">
		<h1 class="white header"> Search Events</h1>
		
		<form role="form" action="/searchSport" method="post" id="searchSportForm">
			<div class="form-group">
				<label for="sport">Sport:</label>
				
				<select class="form-control" id="eventSport" name="eventsport">
						
				</select>			
			</div>
				
			<button type="submit" class="btn btn-primary form-control" id="submitsportsearch">Search by Sport</button>
		
		</form>
		
		<form role="form" action="/searchLocation" method="post" id="searchLocationForm">
			<div class="form-group">
				<label for="location">Location:</label>
				
				<input type="text" maxlength="24" class="form-control" id="location" placeholder="Enter a desired location..." name="locationName">
			</div>
				
			<button type="submit" class="btn btn-primary form-control" id="submitlocationsearch">Search by Location</button>
		
		</form>
		
		<form role="form" action="/searchDate" method="post" id="searchDateForm">
			<div class="form-group">
				<label for="date">Date:</label>
				
				<input type="text" maxlength="24" class="form-control" id="date" placeholder="Enter the desired date..." name="dateEntered">
			</div>
				
			<button type="submit" class="btn btn-primary form-control" id="submitdatesearch">Search by Date</button>
		
		</form>
		
	</div>
	<% include js %>
	<script src="js/search.js"></script>
	<script src="jquery.js" type="text/javascript"></script>
	<script src="jquery.maskedinput.js" type="text/javascript"></script>
</body>
</html>
