<% include header %>
<body>
	<% include navbar %>
	
	<div class="container content">
		<h1 class="white header"> Search For Events</h1>
		
		<div id="alertmessages"></div>	
		<p><br></p>
		
		<form role="form" action="/searchSport" method="post" id="searchSportForm">
			<div class="form-group">
				<h3>Sport:</h3>
				
				<select class="form-control" id="searchSport" name="searchsport">
					<% for (var i = 0; i < sports.length; i++) { %>
						<option value="<%= sports[i].Sname %>"><%= sports[i].Sname%></option>
					<%	} %>	
				</select>			
			</div>
				
			<button type="submit" class="btn btn-primary form-control" id="submitsportsearch">Search By Sport</button>	
		</form>

		<div class="form-group" id="searchlocation">
				<h3>Location:</h3>
				
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter A Desired Location..." name="searchlocation">
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary form-control" id="submitsearchlocation">Search By Location</button>
				</div>
		</div>

		<div class="form-group" id="searchdate">
				<h3>Date:</h3>
				
				<div class="form-group">
					<input type="text" class="form-control" id="datepicker" placeholder="Select The Desired Date..." name="searchdate" readonly>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-primary form-control" id="submitsearchdate">Search By Date</button>
				</div>
		</div>
	</div>
	<% include js %>	
	<script src="js/search.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
		$(function() {
			$( "#datepicker" ).datepicker({
				minDate: 0,
			});	
		});
	</script>
</body>
</html>
