@font-face{
    font-family: 'coolveticaregular';
    src: url('../fonts/coolvetica_rg-webfont.eot');
    src: url('../fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('../fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('../fonts/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: coolveticaregular;
	font-size: 14px;
	color: white;
	line-height: 1.428571429;
	background-color:#174d6c;
	white-space: nowrap
	margin: 0;
}

.white{
	color:white;
}
input[type=text] {
	color: #174d6c;
}

.content{
	padding-top:125px;
}

.panel{
	padding-bottom:25px;
	padding-top:25px;
	padding-left: 15px;
	padding-right: 15px;
	color:#174d6c;
}


.navbar-collapse{
	font-size: 18px;
}

.navbar{
	background: white;
	font-size: 18px;
}

a:visited{
     color: inherit;
}